* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border : none;
    padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color: white;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.item-center {
    text-align: center;
}

/* Main style */


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFF8F3;
    padding: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner-container {
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 45px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
    cursor: pointer;
}

.banner-image {
    max-width: 585px;
    vertical-align: middle; /*this is used to remove the gap from the bottom of an image which is browsers default style*/
}

#about {
    padding-top: 130px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.about-container {
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

#skills {
    padding-top: 130px;
}

.skills-container {   
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skills-container .section-heading p {
    margin-bottom: 50px;
}

.skill-box {
    display: flex;
    gap: 24px;
}

.skill-card {
    padding: 30px;
    max-width: 267px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #0000001f;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume {
    padding-top: 130px;
}

#resume .section-heading {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 113px;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 24px;
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    text-align: left;
    margin-bottom: 30px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}

hr {
    margin-bottom: 30px;
}

#resume .item-center .btn {
    margin-top: 50px;
}

footer {
    margin-top: 113px;
    background-color: #fff8f3;
}

.footer-section {
    display: flex;
    padding-top: 130px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 117px;
}

.footer-section .social {
    max-width: 562px;
}

.footer-section h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-section .social p {
    line-height: 28px;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}

.icons {
    max-width: 120px;
    display: flex;
    justify-content: space-between;
}

.form input[type="text"], input[type="email"], textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}






